.CoinFlipWrapper {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

/* .CoinFlipWrapper:hover > .CoinToFlip { */
.CoinToFlip {
    position: absolute;
    
    left: 0;
}

.CoinToFlip.CoinFlipping {
    /* animation-iteration-count: 5; */
    /* animation-iteration-count: infinite; */
    animation-name: rotate;
    /* animation-duration: 800ms; */
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}